<html>
  <head>


     <title>

     </title>

  </head>
  <body>
      {% include 'material/includes/material_css.html' %}
      {% include 'material/includes/material_js.html' %}

       {% load material_form %}

     {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'hello/style.css' %}">

<marquee scroll:left>VOTING TIME................... PLEASE VOTE</marquee>

  <div class= "Abc">

     {% if latest_question_list %}
      <ul>
          {% for question in latest_question_list %}
        <li><a href="{% url 'hello:detail' question.id %}">{{ question.question_text }}</a></li>

          {% endfor %}
      </ul>
     {% else %}
         <p>No polls are available.</p>
     {% endif %}
</div>

</body>
</html>