<html>
<head>
<title>
</title>

</head>
<body>
	{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'hello/style.css' %}">

     <h1>{{ question.question_text }}</h1>

<ul>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
{% endfor %}
</ul>

<a href="{% url 'hello:detail' question.id %}">Vote again?</a>

</body>
</html>
