body {
    background-image :url("abc.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


div.Abc{
	margin-left: 100;
	margin-right: 50;
	position: center;
}
div.Abc li a{
	background-position: center;
}